/* style.css for Tea Cozy */
/* Updated 2017-08-20 */

html,body {
  margin: 0;
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-bottom: solid 1px seashell;
  height: 69px;
  position: fixed;
  top: 0;
  width: 100%;
}

header a {
  color: seashell;
}

nav span {
  padding: 10px;
}

.logo {
  padding-left: 10px;
}

.logo img {
    height: 50px;
    width: auto;
}

.content {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
}

#mission {
  display: flex;
  height: 700px;
  padding-top: 70px;
  background-image: url("../../resources/img/img-mission-background.jpg");
}

h2,h4 {
  margin: 0;
  padding: 10px;
}

#featured {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1000px;
  padding-top: 60px;
}

.title {
  background-color: black;
  margin: auto;
  width: 100%;
}

.featured-content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
}

.item {
  padding: 15px;
}

.image-content {
  padding-bottom: 10px;
}

.image-content img {
  width: 300px;
  height: auto;
}

#locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 100%;
  margin: auto;
  background-image: url("../../resources/img/img-locations-background.jpg");
}

.stores {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.store {
  width: 300px;
  background-color: black;
  margin: 0px 20px;
  opacity: 1;
}

.store p {
  padding: 10px;
}

#contact {
  height: 200px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}
